* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0f172a;
  color: #fcfcfc;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

nav a {
  color: #fcfcfc;
  text-decoration: none;
  font-size: 15px;
}

nav a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

header{
    background: grey;
    padding: 30px;
    text-align: center;
    width: 100%;
}

/* GRID: 4 x 2 */
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 60px auto;
  justify-items: center;
}

/* FLIP CARD */
.flip-card {
  width: 260px;
  height: 180px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* FRONT */
.flip-card-front {
  background-color:grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-card-front img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* BACK */
.flip-card-back {
  background-color: #38bdf8;
  color: #0f172a;
  transform: rotateY(180deg);
}

.flip-card-back a {
  margin-top: 10px;
  color: #0f172a;
  text-decoration: none;
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}