* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f172a;
}

html, body {
  margin: 0;
  padding: 0;
}
h1{
    color: #fcfcfc;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
}
a{
  color: #38bdf8;
  text-decoration: none;
}
h2{text-align: center;
color: #fcfcfc;
font-weight: 700;}

p{text-align: left;
color: #fcfcfc;
font-size: 18px;
font-weight: 400;}

h3{text-align: center;
color: #fcfcfc;
font-weight: 700;}

.center{display: block;
margin-left: auto;
margin-right: auto;
}

li{text-align: center;}

body {
background-color: #0f172a;
}
header{
    background: grey;
    padding: 30px;
    text-align: center;
    width: 100%;
}
nav a {
  color: #fcfcfc;
  text-decoration: none;
  font-size: 15px;
}

nav a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
h4{
    color: #fcfcfc;
}
footer{background-color:grey;
  color: white;
  padding: 20px;
  text-align: center;}
 
  footer a{
    color: #fcfcfc;
    text-decoration: none;
    font-size: 15px;
  }
  footer :hover{
    text-decoration: underline;
    opacity: 0.9;
  }

  .about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap; /* mobil-fix */
}

.about-box {
  background-color: #1e293b;
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  color: #fcfcfc;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.about-box h3 {
  margin-top: 0;
  font-size: 24px;
}

.about-box p {
  font-size: 18px;
  line-height: 1.6;
}

.about-img {
  width: 420px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}